* {
    margin: 0;
}

.app{
    background-color: #fafafa;
}

.app__posts{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.app__postRight{
    margin-left: 20px;
    border: 1px solid black;
}

.app__header{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    object-fit: contain;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
}

.app__headerImage{
    object-fit: contain;
}

.app_signup{
    display: flex;
    flex-direction: column;
}